.cards {
  display: flex;

  .card {
    margin-right: 2em;
  }

  .card:last-of-type {
    margin-right: 0;
  }
}

.card {
  width: 100%;
  border: 3px solid $transparent;
  background-color: $transparentGray;
  border-radius: 12px;
  padding: 2.5em 3em 3em 3em;
  margin-top: 2em;
  box-shadow: none;
  overflow: hidden;

  p {
    color: $gunsmokeGray;
  }
}

// A special kind of card that includes a list of data (transactions, channels, etc.)
.stack {
  position: relative;
  background-color: transparent;
  border: 3px solid $transparentGray;

  section.primary {
    margin: -2.5em -3em 0;
    padding: 2.5em 3em;
    height: 300px;
    background-color: $transparentGray;
    position: relative;

    .graph {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 3px;
      height: 10em;
      background-image: $purpleGradientVertical;
      z-index: 0;
    }

    .totals {
      position: absolute;
      bottom: 2em;
      left: 3em;
      right: 4em;
      z-index: 1;
      align-items: flex-end;
      color: $white;

      .narrow {
        min-width: 200px;
        text-align: right;
      }
    }

    .buttons {
      margin-top: -0.75em;
      margin-right: -1em;
    }
  }

  section.secondary {
    margin: 2em 0;
    position: relative;
    z-index: 1;

    .title {
      display: block;
      color: $white;
      font-size: 18px;
    }

    .subtitle {
      display: block;
      color: $gray;
      font-size: 16px;
    }

    .columns {
      margin-top: 1.5em;
      margin-bottom: 2.5em;
    }

    .column.right {
      text-align: right;
    }
  }

  section.foot {
    margin: 0 -3em -2.5em;
    padding: 0.75em 0 0.25em;
    border-top: 3px solid $transparentGray;
    text-align: center;
  }
}
