/*
** Global SCSS file
**
** This file handles all of the CSS which is shared between layouts and components.
** Most of the styles defined here are imported from files with specific purposes. (fonts, buttons, etc.)
** Avoid defining CSS here except for things that are not large enough to warrant their own file.
**
*/

@import "~/assets/css/variables.scss";
@import "~/assets/css/fonts.scss";
@import "~/assets/css/buttons.scss";
@import "~/assets/css/headings.scss";
@import "~/assets/css/statuses.scss";

body {
  background-image: $blueGradient;
  color: $white;
  min-height: 100vh;
}

a.is-blue {
  color: $lightBlue;
  font-weight: bold;

  &:hover {
    color: $lightBlue;
    border-bottom: 1px dashed $lightBlue;
  }
}
