/*
** Global SCSS file
**
** This file is loaded by Nuxt within every component and should only be used for variables and mixins.
** All other CSS should be loaded directly within components and layouts.
**
** Docs: https://github.com/nuxt-community/style-resources-module/
*/

$backgroundGray: #322c4f;
$backgroundPurple: rgba(216, 216, 216, 0.05);
$backgroundBlue: linear-gradient(to bottom, #251963 -34%, #040113);

$textWhite: #ffffff;
$textGray: #868395;
$textPurple: #865efc;
$textOrange: #f5a623;
$textYellow: #ffea70;
$textGreen: #2dcccd;
$textRed: #f0649e;

$borderGray: rgba(255, 255, 255, 0.1);
$borderBlue: #383163;

$buttonPurple: linear-gradient(to right, #5839f5, #9469fe);
