h1, h2, h3, h4, h5, h6 {
  color: $white;
  font-weight: bold;
}

h1 {
  font-size: 36px !important;

  img {
    height: 44px;
    width: 44px;
    margin-right: 0.5em;
    margin-top: -0.1em;
    vertical-align: middle;
  }
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 28px !important;
}

h4 {
  font-size: 24px !important;
}

h5 {
  font-size: 22px !important;
}

h6 {
  font-size: 20px !important;
}

.big {
  font-size: 56px !important;
}
