.status {
  font-size: 18px;
  font-weight: 500;

  &.intro-syncing {
    color: $lightBlue !important;

    .icon {
      background-color: $lightBlue;
    }
  }

  &.loading {
    color: $smokyGray !important;

    .icon {
      background-color: $smokyGray;
    }
  }

  &.inactive {
    color: $red !important;

    .icon {
      background-color: $red;
    }
  }

  &.syncing {
    color: $yellow !important;

    .icon {
      background-color: $yellow;
    }
  }

  &.active {
    color: $green !important;

    .icon {
      background-color: $green;
    }
  }

  .icon {
    border-radius: 100%;
    display: inline-block;
    margin: 0.25em;
    height: 0.75em;
    width: 0.75em;
    vertical-align: middle;
  }
}
