$standardFonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;

$blueGradient: linear-gradient(to bottom, #251963 -34%, #040113);
$purpleGradient: linear-gradient(to right, #5839f5, #9469fe);
$purpleGradientVertical: linear-gradient(to top, #4125cf 1%, #865efc);

$white: #ffffff;
$black: #040113;
$gray: #868395;
$purple: #865efc;
$orange: #f5a623;
$yellow: #ffea70;
$green: #2dcccd;
$red: #f0649e;
$blue: #383163;

$lightBlue: #3bccfc;
$lightPurple: #a29bbc;

$darkBlue: #322c4f;
$darkGray: #3e3b53;
$darkPurple: #181236;

// Names for ambiguous colors come from this tool - http://chir.ag/projects/name-that-color/
$smokyGray: #555075;
$gunsmokeGray: #8d8e8e;

$transparent: rgba(0, 0, 0, 0);
$transparentFaintWhite: rgba(255, 255, 255, 0.04);
$transparentWhite: rgba(255, 255, 255, 0.1);
$transparentGray: rgba(216, 216, 216, 0.05);

$translucentWhite: rgba(255, 255, 255, 0.7);
