$blueGradient: linear-gradient(to bottom, #251963 -34%, #040113);
$purpleGradient: linear-gradient(to right, #5839f5, #9469fe);

$white: #ffffff;
$gray: #868395;
$purple: #865efc;
$orange: #f5a623;
$yellow: #ffea70;
$green: #2dcccd;
$red: #f0649e;
$blue: #383163;

$lightPurple: #a29bbc;

$darkBlue: #322c4f;
$darkGray: #3e3b53;

$transparentFaintWhite: rgba(255, 255, 255, 0.04);
$transparentWhite: rgba(255, 255, 255, 0.1);
$transparentGray: rgba(216, 216, 216, 0.05);
